{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <a href="{% url 'home' %}">{% trans "home" %}</a>
  <h1>{% trans "LIVE" %}</h1>
  {% if tagline %}<span>{{ tagline|safe }}</span>{% endif %}
  <ul>
    {% for obj in pager.object_list %}
      <li>
        {% if obj.image %}
          <a href="{{ obj.get_absolute_url }}" title="{{ obj }}">
            <img src="{{ obj.image.get_thumbnail_url }}">
          </a>
        {% endif %}
        <a href="{{ obj.get_absolute_url }}" title="{{ obj }}">{{ obj }}</a>
        {% if object.description %}<span>{{ object.description }}</span>{% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if pager.has_other_pages %}
    <div class="align-center pagination-container">
      {% include "pagination.html" with page_param='page' previous_label=_('Previous') next_label=_('Next page') %}
    </div>
  {% endif %}
{% endblock %}
