{% load i18n %}

<div class="breaking-notice">
  <div class="container">
    <span class="msg-title">
      <span class="live">{% trans "LIVE" %}
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.2" d="m10 16 4-4-4-4"/></svg>
      </span>
      <a class="msg-link" href="{% if liveblog.notification_url %}{{ liveblog.notification_url }}{% else %}{{ liveblog.get_absolute_url }}{% endif %}">{{ liveblog.notification_text|default:liveblog.title }}</a>
      <span class="btn-close" data-object="{{ base_path }}/liveblog{% if others %}_others{% endif %}" data-id="{{ liveblog.id }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="17" height="17" fill="none" viewBox="0 0 17 17"><path stroke="#000" stroke-linecap="round" d="m.5.5 16 16m0-16-16 16"/></svg>
      </span>
    </span>
  </div>
</div>
