{% extends base_template %}
{% load i18n static liveblog_tags %}

{% block page_title %}
  {% if object.alt_title %}
    {{ object.alt_title }}
  {% else %}
    {% trans "Live" %}: {{ object }} | {{ site.name }}
  {% endif %}
{% endblock %}

{% block page_description %}
  {% if object.alt_desc_meta %}
    {{ object.alt_desc_meta }}
  {% else %}
    {% if object.description %}
      {{ object.description }}.
    {% endif %}
    {% trans "Follow the live coverage of" %} {{ site.name }}.
  {% endif %}
{% endblock %}

{% block meta_og_title %}
  <meta property="og:title" content="{{ object.alt_title_meta|default:object.title }}">
{% endblock %}

{% block meta_og_description %}
  {% if object.description %}
    <meta property="og:description" content="{{ object.alt_desc_og_meta|default:object.description }}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block meta_og_image %}
  {% if object.image_render_allowed %}
    <meta property="og:image" content="{{ SITE_URL_SD }}{{ object.image.get_article_main_url }}">
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block body_class %}live-blog{% endblock %}

{% block extra_css %}
  <style>
    body.live-blog main#main-content {
      overflow-x: hidden;
    }
  </style>
{% endblock %}

{% block json_ld %}
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "LiveBlogPosting",
      "headline": "{{ object }}",
      {% if object.description %}"description": "{{ object.alt_desc_og_meta|default:object.description }}",{% endif %}
      "url": "{{ SITE_URL_SD }}{{ object.get_absolute_url }}",
      {% if object.status == "ended" %}"coverageEndTime": "{{ blog_meta.dateModified }}",{% endif %}
      {% if blog_meta.posts %}
        "liveBlogUpdate": [
          {% for item in blog_meta.posts %}
            {
              "@type": "BlogPosting",
              "articleBody": "{{ item.body }}",
              "datePublished": "{{ item.created }}",
              "dateModified": "{{ item.updated }}",
              "publisher": {
                "@type": "Organization",
                "name": "{{ site.name }}"
              },
              {% if item.image_src %}
                "image": {
                  "@type": "ImageObject",
                  "url": "{{ item.image_src }}"
                },
              {% endif %}
              "author": {
                "@type": "Person",
                "name": "{{ item.author }}"
              }
            }{% if not forloop.last %},{% endif %}
          {% endfor %}
        ],
      {% endif %}
      "publisher": {
        "@type": "NewsMediaOrganization",
        "name": "{{ site.name }}",
        "url": "{{ SITE_URL }}",
        "@id": "",
        "logo": {
          "@type": "ImageObject",
          "url":"{{ SITE_URL_SD }}{% static default_pub.open_graph_image %}"
        }
      },
      "author": {
        "@type": "Organization",
        "name": "{{ site.name }}",
        "url": "{{ SITE_URL }}"
      },
      "about": {
        "@type": "Event",
        "name": "{{ object }}",
        "startDate": "{{ blog_meta.start_date }}",
        {% if object.status == "ended" %}"endDate": "{{ blog_meta.dateModified }}",{% endif %}
        "location": {
          "@type": "Place",
          "name": "{{ object.location }}"
        },
        {% if object.image_render_allowed %}
          "image": {
            "@type": "ImageObject",
            "url": "{{ SITE_URL_SD }}{{ object.image.get_article_main_url }}",
            "width": 1200
            {# "height": "TODO: can we obtain image height?" #}
          },
        {% endif %}
        "dateModified": "{{ blog_meta.dateModified }}",
        "coverageStartTime": "{{ blog_meta.start_date }}"{% if object.status == "ended" %},
        "coverageEndTime": "{{ blog_meta.dateModified }}"{% endif %}
      }
    }
  </script>
{% endblock %}

{% block content %}
  <div class="liveblog-detail">
    <div class="liveblog-detail__head">
      {% if object.status == 'active' %}
        <span class="live-now">{% trans "Live" %}</span>
      {% elif object.status == 'to_begin' %}
        <span class="to-begin">
          <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="6" cy="6" r="5" stroke="#B00000" stroke-width="2"/>
          </svg>
          {{ object.get_status_display|capfirst }}
        </span>
      {% elif object.status == 'ended' %}
        <span class="ended">
          <svg width="14" height="11" viewBox="0 0 14 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M14 1.128L4.4 10.728L0 6.328L1.128 5.2L4.4 8.464L12.872 0L14 1.128Z" fill="#A4A4A4"/>
          </svg>
          {{ object.get_status_display|capfirst }}
        </span>
      {% endif %}
      <h1 class="title">{{ object }}</h1>
      {% if object.description %}<h2 class="desc">{{ object.description }}</h2>{% endif %}
    </div>
    {% liveblog_embed_code object %}
    <div class="ld-fin ld-block"></div>
  </div>
{% endblock %}
