{% if not disable_iframe_resizer %}
  <style>
    #liveblog-iframe {
      width: 1px;
      min-width: 100%;
    }
  </style>
  <script src="//cdn.jsdelivr.net/npm/iframe-resizer/js/iframeResizer.min.js"></script>
{% endif %}
<script src="{{ object.environment.url }}/embed.js" defer></script>
{% spaceless %}
  <iframe src="{{ object.url }}{% if is_frontpage %}?is_frontpage=1{% endif %}" frameborder="0" allowfullscreen
          {% if disable_iframe_resizer %}width="100%" height="400"
          {% else %}onload="iframeResize({log: false, license: 'GPLv3'}, '#liveblog-iframe');"{% endif %}
          id="liveblog-iframe">
  </iframe>
{% endspaceless %}
