{% extends "base.html" %}
{% load i18n static liveblog_tags %}

{% block json_ld %}
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "LiveBlogPosting",
      "publisher": {
        "@type": "NewsMediaOrganization",
        "name": "{{ site.name }}",
        "url": "{{ SITE_URL }}",
        "@id": "",
        "logo": {
          "@type": "ImageObject",
          "url":"{{ URL_SCHEME }}://{{ site.domain }}{% static default_pub.open_graph_image %}"
        }
      },
      "url": "{{ URL_SCHEME }}://{{ site.domain }}{{ object.get_absolute_url }}",
      {% if object.description %}"description": "{{ object.description }}",{% endif %}
      "headline": "{{ object }}",
      "author":{
        "@type": "Organization",
        "name": "{{ site.name }}",
        "url": "{{ SITE_URL }}"
      },
      "about": {
        "@type": "Event",
        "name": "{{ object }}"{% if object.image %},{% endif %}
        {% comment "start and end times not supported yet" %}
          "startDate": "Wed Nov 23 2022 09:25:00 GMT-0300 (Argentina Standard Time)",
          "endDate": "",
        {% endcomment %}
        {% if object.image %}
          "image": {
            "@type": "ImageObject",
            "url": "{{ URL_SCHEME }}://{{ site.domain }}{{ object.image.get_1200w_url }}",
            "width": 1200
            {# "height": "TODO: can we obtain image height?" #}
          }
        {% endif %}
        {% comment "other values not supported yet" %}
          "dateModified": "",
          "coverageStartTime": "Wed Nov 23 2022 09:25:00 GMT-0300 (Argentina Standard Time)",
          "coverageEndTime": "2022-11-23T14:54:45.998Z"
        {% endcomment %}
      }
    }
  </script>
{% endblock %}

{% block content %}
  <div class="liveblog-detail">
    <div class="liveblog-detail__head">
      {% ifequal object.status 'active' %}
        <span class="live-now">{% trans "Live" %}</span>
      {% endifequal %}
      <h1 class="title">{{ object }}</h1>
      {% if object.description %}<span class="desc">{{ object.description }}</span>{% endif %}
    </div>
    {% liveblog_embed_code object %}
    <div class="ld-fin ld-block"></div>
  </div>
{% endblock %}
